
.carrinho{
    display: flex;
    align-items:center;
    margin-top: 50px;
    margin-right: 300px;
}

.tamanho-paper-drawer {
    width: 600px;
}

.box-imagem {
    min-width: 60px;
    max-width: 60px;
}

.imagem {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

/* Estilo para o título do carrinho */
.titulo-carrinho {
    font-size: 2em;
    font-family: sans-serif;
    color: #383535;
    position: relative;
    padding-bottom: 10px;
}

.titulo-carrinho::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #383535;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}


.linha-separadora {
    width: 100%;
    height: 1px;
    background-color: #383535; 
    margin: 20px 0; 
}


.btn-finalizar-compra-container {
    display: flex;
    justify-content: flex-end;        
    width: 100%;
}


.btn-finalizar-compra button {
    /* width: 100%;  */
    width: 570px;
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 10px;
    border-color: #000000;
    padding: 10px;
    margin-top: 20px;
    height: 40px;
}


/* .btn-finalizar-compra {
    background-color: #000000; 
} */

.total-carrinho{
    margin-top: 80px;
    justify-content: right !important;
    color: #383535;
}

.titulo-carrinho {
    display: flex;
    align-items: center; 
}

.titulo-carrinho h5 {
    margin-right: 8px; 
}

.titulo-carrinho svg {
    vertical-align: middle;
}