.container-botao {
    width: 100%;
    max-width: 100%;
    margin: 2px;
}

.container-botao button {
    width: 90%;
    background-color: #141414;
    color: #FFFFFF;
    border-radius: 10px;
    border-color: #FFFFFF;
    padding: 3px;
}

.botao-indisponivel {
    width: 90%;
    background-color: #d16565;
    color:#ffffff;
    border-radius: 10px;
    border-color: #F7941D;
    padding: 3px;
    cursor: not-allowed;
}