/* Camisas.css */

.produto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .produto_imagem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .produto_nome p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .produto_categoria p {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
  }
  
  .produto_preco {
    margin-top: 10px;
  }
  
  .produto_preco p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .produto_preco_desconto p {
    color: red;
  }
  