.banner-novidades {
    width: 98%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    height: 500px;
}

.banner-novidades .imagem-banner {
    text-align: center;
    border-radius: 15px;
}

.banner-novidades .imagem-banner img {
    width: 98%;
    height: 350px;
    border-radius: 15px;
    /* object-fit: cover; */
    /* height: auto; */
}
