.banner-novidades {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    height: 70%;
}

.banner-novidades .imagem-banner {
    text-align: center;
    border-radius: 15px;
}

.banner-novidades .imagem-banner img {
    width: 50%;
    height: 70%;
    border-radius: 15px;
    /* object-fit: cover; */
    /* height: auto; */
}
