.finalizar-compra-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.finalizar-compra-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.itens-carrinho {
  margin-bottom: 20px;
  margin-left: 430px;
}

.item-carrinho {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.imagem-item {
  width: 83px;
  height: 85px;
  margin-right: 3px;
  border-radius: 4px;
  object-fit: cover;
}

.detalhes-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 74px;
}

.item-nome {
  font-weight: bold;
  margin-bottom: 5px;
  /* margin-right: 45px; */
}

.item-quantidade, .item-preco {
  color: #555;
}

.resumo-compra {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.total-compra {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-finalizar-compra, .btn-continuar-comprando {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

.btn-finalizar-compra {
  background-color: #4CAF50;
}

.btn-finalizar-compra:hover {
  background-color: #aaffaf;
}

.btn-continuar-comprando {
  background-color: #007BFF;
}

.btn-continuar-comprando:hover {
  background-color: #0056b3;
}
