.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.checkout-left,
.checkout-right {
  width: 48%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-left h1,
.checkout-right h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagamento-detalhes {
  margin-top: 20px;
}

.qrcode-pix {
  width: 100px;
  height: 100px;
}

.itens-carrinho {
  margin-bottom: 20px;
}

.item-carrinho {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.imagem-item {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}

.detalhes-item {
  display: flex;
  flex-direction: column;
}

.item-nome {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-detalhes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-quantidade,
.item-preco {
  color: #555;
}

.total-compra {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.btn-finalizar-compra {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4CAF50;
  margin-top: 20px;
}

.btn-finalizar-compra:hover {
  background-color: #45a049;
}

.btn-gerar-boleto {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #007BFF;
  margin-top: 20px;
}

.btn-gerar-boleto:hover {
  background-color: #0056b3;
}
