.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.checkout-container .checkout-left,
.checkout-container .checkout-right {
  width: 48%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-container .checkout-left h1,
.checkout-container .checkout-right h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-container .form-group {
  margin-bottom: 15px;
}

.checkout-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.checkout-container .form-group input[type="text"],
.checkout-container .form-group input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-container .pagamento-detalhes {
  margin-top: 20px;
}

.checkout-container .qrcode-pix {
  width: 100px;
  height: 100px;
}

.checkout-container .itens-carrinho {
  margin-bottom: 20px;
}

.checkout-container .item-carrinho {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.checkout-container .imagem-item {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}

.checkout-container .detalhes-item {
  display: flex;
  flex-direction: column;
}

.checkout-container .item-nome {
  font-weight: bold;
  margin-bottom: 5px;
}

.checkout-container .item-detalhes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-container .item-quantidade,
.checkout-container .item-preco {
  color: #555;
}

.checkout-container .total-compra {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.checkout-container .btn-finalizar-compra {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #000000;
  margin-top: 20px;
  visibility: visible; /* Garante que o botão está sempre visível */
  opacity: 1; /* Garante que o botão é totalmente opaco */
}

.checkout-container .btn-finalizar-compra:hover {
  background-color: #272727;
}


.checkout-container .btn-gerar-boleto {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #007BFF;
  margin-top: 20px;
}

.checkout-container .btn-gerar-boleto:hover {
  background-color: #0056b3;
}



/* ModalComprovante.css */

.modal-comprovante {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.comprovante-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comprovante-body {
  line-height: 1.6;
}



.update-button {
  background-color: #066686;
  color: white;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #0214b6; 
}


.endereco-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.endereco-item input[type="radio"] {
  margin-right: 10px;
}

.endereco-item label {
  cursor: pointer;
}


.qrcode-pix {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 107px !important;
  width: 166px !important;
}



.boleto-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.boleto-header {
  margin-bottom: 20px;
}

.boleto-header h2 {
  font-size: 24px;
  color: #333;
}

.boleto-header p {
  font-size: 14px;
  color: #666;
}

.boleto-content {
  margin-bottom: 20px;
}

.boleto-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.boleto-details p {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.boleto-details p strong {
  color: #000;
}

.boleto-description p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.boleto-footer {
  margin-top: 20px;
}

.close-button {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background: #0056b3;
}
