
  .div-nome-editar-cadastro {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  
  .div-clientes {
    padding: 16px;
  }
  
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Corrigido para incluir a unidade 'px' */
    background-color: #fff; /* Definido para 'background.paper' */
    border: 2px solid #000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Definido para 'boxShadow: 24' */
    padding: 16px; /* Definido para 'p: 4' */

  }
  
  .modal-box-endereco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Corrigido para incluir a unidade 'px' */
    background-color: #fff; /* Definido para 'background.paper' */
    border: 2px solid #000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Definido para 'boxShadow: 24' */
    padding: 16px; /* Definido para 'p: 4' */
  }
  

  
.div-clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

.full-screen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }

.MuiList-root css-7nis55-MuiList-root {

    margin-left: 52px !important;
    margin-top: 35px;
}



.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 274px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 24px;
  padding: 20px;
  outline: 0;
  color: #000;
}

.modal-box-endereco {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 999px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 24px;
  padding: 20px;
  outline: 0;
  color: #000;
}



.avatar-center {
  margin-left: 16px; 
}