.div-login {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.div-login-linha{
    padding-bottom: 10px;
}

.div-login-linha p{
    font-size: 5px;
    text-align: center;
}


.textfield-small {
    padding-top: 15px !important;
    width: 280px; 
}

.textfield-small label {
    padding-top: 15px !important;
}


.div-login-linha-descricao p{
    font-size: 17px !important;
    text-align: center;
}